<html>
<head>
  <title></title>
</head>
<body>
<h1> gardens in the area </h1>
  <ul>
  <% users.forEach(function (user){ %>
    <li> User Garden </li>
    <ul>
     <% user.gardens.forEach( function (garden) { %>
      <li><img src="<%= garden.title ? "/photos/" + garden.title : "" %>"></li>
    <%})%>
    </ul>
  <% })%>
  </ul>
</body>
</html>