<%include ../layouts/header.ejs %>  
  <div class="container">
    <div class="starter-template">
      <h1>sample</h1>
      <p class="lead">sample home page</p>
    </div>

  
  <form method="get" action="/gardens">
     <div>
      <input type="text" name="zipcode" placeholder="zipcode">
    </div>

    <button> search </button>

<%include ../layouts/footer.ejs %>  
  
<!--   </body>
</html> -->
