<html>
<head>
  <title>



  </title>
</head>
<body>
  <h1> homepage</h1>

  <form method="post" action="/zip">
                              <!-- req.body is coming from author -->
      <input type="text" name="author[firstName]" placeholder="zipcode"<
      
      <button> Search </button>
    </form>

</body>
</html>