<html>
<head>
  <title></title>
</head>
<body>

  <form method="post" action="/upload">
      <div>
        <input type="text" name="user[zipcode]" placeholder="zipcode">
      </div>
      <!-- <div>
        <input type="text" name="user[password]" placeholder="Password">
      </div> -->
      <button>Save </button>
    </form>

</body>
</html>