<!--views/users/login.ejs-->
<%include ../layouts/header.ejs %> 
<!DOCTYPE html>

<html>
<head>
  <link href="/stylesheets/login.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div class="row">
  <div class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-4">
  <form method="post" action="/login">
  <div>
    <input type="text" name="user[email]" placeholder="Email">
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="Password">
  </div>
    <div class="form-group">
    <input type="submit" value="Login" class="btn btn-Warning btn-sm btn-cust">
    </div>
  </form>
  </body>
</html>