<!--views/users/sign_up.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    The sign up
    <form method="post" action="/users">
       <div>
        <input type="text" name="user[name]" placeholder="name">
      </div>
      <div>
        <input type="pass" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="password" name="user[password]" placeholder="Password">
      </div>
      <button>Save </button>
    </form>
  </body>
</html>